<!doctype html>
<html>
  <head>
    <title>Members only message board</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="min-h-full">
      <nav class="bg-gray-800">
        <div
          class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 flex h-16 items-center justify-between"
        >
          <a href="/">
            <h1 class="flex-shrink-0 text-white sm:text-2xl text-sm">
              Clubhouse
            </h1>
          </a>
          <div class="ml-10 flex items-baseline space-x-4">
            <a
              href="/register"
              class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium"
              >Register</a
            >
            <a
              href="/login"
              class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium"
              >Log In</a
            >
          </div>
        </div>
      </nav>
      <main class="m-8">
